html, body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
}

.logo {
height: 56px;
width: 56px;
margin-right: 16px;
cursor: pointer;
}

mat-toolbar.transparent {
  background-color: transparent;
}

main {
  padding-top: 64px; /* Adjust based on toolbar height */
  min-height: calc(100vh - 64px - 80px); /* 64px for toolbar, 80px for footer (approx) */
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1 1 auto;
}

.home-button {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-icons {
  display: flex;
  gap: 0.5rem;
}

footer {
  padding: 2rem;
  text-align: center;
  background-color: #1e1e1e;
  flex-shrink: 0; /* Prevent footer from shrinking */
}

.active-link {
  background-color: rgba(255, 255, 255, 0.05);
}
