<div class="hero-section">
  <div class="hero-text">
    <h1>Kartik Mishra</h1>
    <p>Singer, Lyricist, Music Producer</p>
    <button mat-raised-button color="primary">Explore Music</button>
  </div>
</div>

<div class="featured-release">
  <h2>Featured Release</h2>
  <mat-card>
    <!-- <mat-card-header>
      <mat-card-title>New Single Out Now</mat-card-title>
      <mat-card-subtitle>Song Title</mat-card-subtitle>
    </mat-card-header> -->
    <img mat-card-image src="assets/cover_art.png" alt="Album Art">
    <!-- <mat-card-content>
      <p>A short description of the new single.</p>
    </mat-card-content> -->
    <mat-card-actions>
      <a mat-icon-button href="#"><img src="assets/spotify_logo.svg" alt="Spotify Logo" class="platform-logo"></a>
      <a mat-icon-button href="#"><img src="assets/apple_music_logo.svg" alt="Apple Music Logo"
          class="platform-logo"></a>
      <a mat-icon-button href="#"><img src="assets/youtube_music_logo.svg" alt="YouTube Music Logo"
          class="platform-logo"></a>
    </mat-card-actions>
  </mat-card>
</div>